<header>
  <div class="container-fluid">
    <div class="row pt-5 d-flex">
      <div class="col">
        <img src="../../../assets/chili.png" width="60px">
      </div>
      <div class="col">
        <div class="circle1"></div>
        <div class="rectangle-container float-end">

          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>


          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>


          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>


          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
        </div>
      </div>
    </div>
    <div class="row pt-2 pb-5">
      <div class="col d-md-none d-sm-none d-lg-block d-xl-block d-none col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex justify-content-end">
        <div class="circle">
        </div>
      </div>
      <div class="col d-flex align-items-center col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 justify-content-center">
        <div class="div">
          <p style="color: #fff;font-size: 25px;">Chili's Tunisie</p>
          <h1 style="font-size: 50px;color: #6EE22A;font-family: 'Comic Sans MS', cursive, sans-serif;letter-spacing: 2px;word-spacing: 2px;line-height: 60px;font-weight: bolder;">Découvrez les meilleures recettes syriennes</h1>
          <button mat-flat-button color="warn" class="mt-4 button" routerLink="/dashboard">Voir notre menu</button>
          <div class="circles d-flex justify-content-between">
            <div class="circle2 mt-4 mr-5 ">
            </div>
            <div class="circle3 justify-content-end">
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>
