body{
  overflow: hidden;
  box-sizing: border-box;
}
.container1{
  margin-top: 200px;
}
.container2{
  margin-top: 100px;
}
.title2{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  letter-spacing: 2.6px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  margin: 0px 20px 0px 20px;
  color: red;
  font-weight: bold;

}
.title{
  padding-bottom: 10px;
  border-bottom: 3px solid red;
}
.sec1{
  height: 100vh;
}
.title3 h3{
  color: #54ad21;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  letter-spacing: 2.6px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}
