<div class="container">
  <div class="title">
    <h1>Prendre Contact</h1>
    <div class="row">
      <div class="col forms col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <input type="text" placeholder="Nom et Prénom" class="form-group">
        <input type="email" placeholder="Adresse Email" class="form-group">
        <textarea placeholder="Votre message ici..." class="form-group"></textarea>
        <button class="form-group">Envoyer</button>
      </div>
      <div class="col chilis  d-flex justify-content-center align-items-center col-xl-6 col-lg-6 col-md-12">
        <div class="circle d-flex justify-content-center align-items-center d-sm-none d-none d-xl-block d-lg-block d-md-none">
          <h3 style="font-size: 50px;color: red;margin-top: 40%;" class="title2">chili<span style="color: #6EE22A;">'</span>s</h3>
        </div>
      </div>
    </div>
  </div>
</div>
